
/SmartTrashCan/SmartTrashCan-backups
*.lck
/BusinessCard/SmartTrashCan-backups
/GamingControler/SmartTrashCan-backups
/IoTBoard/SmartTrashCan-backups
/GamingControler/GamingControler-backups
IoTBoard/ZU_H_T_eng_biela.svg
